body{
    background-color: #273043;
    margin: 0;
    padding: 0;
    color: white;
}
h1, #description {
    text-align: center;
}

label[id="adress"]{
    margin-bottom: 20px;
}
label {
    display: block;
    margin-left: 10px ;
    border-radius: 50px;
    padding-top: 10px;
    
}

input{
    display: block;
    width: 370px;

}

section {
    border-bottom: 3px solid #772014;
    margin-bottom: 10px;
}

form{
    display: block;
    width: 400px;
    background-color: #374163d0;
    margin: auto;
    padding: 15px;
    padding-bottom: 20px;
}